<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1069536171342-d1uv588hol7gi9hs6t2n27d60eqgj3q7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1069536171342-d1uv588hol7gi9hs6t2n27d60eqgj3q7</string>
	<key>API_KEY</key>
	<string>AIzaSyBcDNURPotMs5U9M8frup8v-f2MNueERgQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1069536171342</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lamarTravelPackages</string>
	<key>PROJECT_ID</key>
	<string>lamartavelpackages</string>
	<key>STORAGE_BUCKET</key>
	<string>lamartavelpackages.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1069536171342:ios:2817e7c0cfc943218dba1f</string>
</dict>
</plist>